<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudyManager</servlet-name>
        <servlet-class>StudyManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudySetup</servlet-name>
        <servlet-class>userstudy.StudySetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudyResults</servlet-name>
        <servlet-class>userstudy.StudyResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStudyResultsEvaluation2</servlet-name>
        <servlet-class>userstudy.UserStudyResultsEvaluation2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodePositions</servlet-name>
        <servlet-class>userstudy.SaveNodePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNodePositoins2</servlet-name>
        <servlet-class>userstudy.SaveNodePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNodePositions</servlet-name>
        <servlet-class>userstudy.SaveNodePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTaskInstances</servlet-name>
        <servlet-class>userstudy.SaveTaskInstances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetManager</servlet-name>
        <servlet-class>userstudy.DatasetManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerManager</servlet-name>
        <servlet-class>userstudy.ViewerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStudies</servlet-name>
        <servlet-class>userstudy.ManageStudies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudyManager</servlet-name>
        <url-pattern>/StudyManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudySetup</servlet-name>
        <url-pattern>/StudySetup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudyResults</servlet-name>
        <url-pattern>/StudyResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStudyResultsEvaluation2</servlet-name>
        <url-pattern>/UserStudyResultsEvaluation2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodePositions</servlet-name>
        <url-pattern>/NodePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNodePositoins2</servlet-name>
        <url-pattern>/SaveNodePositoins2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNodePositions</servlet-name>
        <url-pattern>/SaveNodePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTaskInstances</servlet-name>
        <url-pattern>/SaveTaskInstances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetManager</servlet-name>
        <url-pattern>/DatasetManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerManager</servlet-name>
        <url-pattern>/ViewerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStudies</servlet-name>
        <url-pattern>/ManageStudies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
